body h1~h2 {background-color:red;}
div h2~p {background-color:pink;}
#lorem::first-letter{color:pink;font-size:48px;}
*::selection{color:pink;background-color:black;}
.info_container{
	margin:1%;
	padding:1%;
	border:1px solid black;
}
.info_container:last-child{
	background-color:blue;
}
:not(p, h2){background-color:darkred;}
:not(
	.info_container,
	.info_container h1~p,
	.info_container h1,
	.info_container h2){background-color:white;}
div.info_container p:nth-child(3){background-color:black;color:pink;}
#lorem::selection{color:black;background-color:pink;}